doctype
html(lang="pt-br")
  != partial("../_partials/head")
  body(class="page-portfolio")
    != yield

    script(src="../medium-zoom.js" defer)

    script(defer). 
        document.addEventListener("DOMContentLoaded", function(event) {
            mediumZoom('[data-zoomable]',{
                background: 'rgba(0,0,0,.8)',
                margin: 32})
            
            let el = document.querySelector(".leia-mais");
            el.addEventListener("click", function(event) {
                event.preventDefault();
                let container = document.querySelector(".content")
                container.classList.add("open");
            });
        });