main.grid 
    .content
        section.intro
            a.img-link(href="/")
                != partial("../_partials/logo-svg")
            h1.title-page Gamificação para um trabalho melhor
            p.client #[strong ROBBYSON/AeC] &nbsp;&nbsp;/&nbsp;&nbsp; #[span.year 2018]
            .wrap-tags
                ul.tags
                        li ARQUITETURA DE INFORMAÇÃO
                        li DESIGN DE INTERAÇÃO
                        li UI/VISUAL
                        li PESQUISA

        section.story
            h2.title-section MISSÃO
            p Robbyson é uma plataforma web para ajudar operadores de call center a entender seus resultados e estimular seu trabalho através da gamificação. Os executivos planejavam expandir para outros mercados, mas devido o tom lúdico e infantilizado, tinham medo do produto não ser bem recebido. Por isso fomos chamados para redesenhar o layout, mas no processo de pesquisa descobrimos muitas oportunidades de melhorias em navegação e funcionalidade que foram aplicadas no redesign.
        
            h2.title-section PROCESSO
            p Viajamos pelo Brasil, visitando os call centers da empresa como uma etapa de imersão. Entrevistamos operadores, coordenadores e gerentes, fizemos focus group e shadowing observando como usavam a plataforma e como conciliavam com o trabalho diário. Apresentamos um relatório onde foi definido a estratégia e features que precisavam de destaque. Após isso, desenhamos conceitos e apresentamos, passando por sitemaps, wireframes e layout final das telas.
        
            h2.title-section APRENDIZADO
            p Foi muito interessante entrar nas operações de call center e ver o outro lado do canal que tanto sofre com reclamações e ira de clientes. Operadores precisam de muita resiliência e improviso, tendo que usar vários sistemas apartados com fluxos e telas diferentes, falta de ferramentas, devido às regras de segurança, e inteligência emocional para lidar no meio disso tudo com clientes raivosos. Um dos pontos interessantes foi entender a baixa aderência na plataforma e descobrir que ela prejudicava a performance dos computadores (pois exigia razoável processamento e memória) e em conjunto a tantos outros sistemas, os operadores não podiam mantê-la aberta, pois não conseguiam trabalhar.
        ul.team
            li.team-name
                h3 PARA
                a(href="http://www.saiba-mais.com/" target="_blank") Saiba+ 
            li.people
                h3 UX LEAD
                ul.people-list
                    li
                        a.img-link(href="https://www.linkedin.com/in/lulileslie/" target="_blank")
                            img(src="/img/pessoas/carolina-leslie.jpg" alt="Carolina Leslie")
                            span.tooltip Carolina Leslie
            li.people
                h3 UX/UI
                ul.people-list
                    li
                        a.img-link(href="https://www.linkedin.com/in/viccarvalho/" target="_blank")
                            img(src="/img/pessoas/victor-carvalho.jpg" alt="Victor Carvalho")
                            span.tooltip Victor Carvalho
                    li
                        a.img-link(href="https://www.linkedin.com/in/opfeffer/" target="_blank")
                            img(src="/img/pessoas/oliver-pfeffer.jpg" alt="Oliver Pfeffer")
                            span.tooltip Oliver Pfeffer
            
        .leia-mais  
            a(href="#" aria-hidden="true") LEIA MAIS   
                
    .mosaic
        figure.big-item
            img(src="../img/robbyson/robbyson-slide-heuristica.png" alt="Slide sobre análise heurística da apresentação do relatório" data-zoomable)
            figcaption Slide do relatório.
        
        figure.regular-item
            img(src="../img/robbyson/robbyson-slide-pesquisa.jpg" alt="Fotos dos locais e entrevistados na pesquisa para apresentação do relatório" data-zoomable)
            figcaption Locais e entrevistados da pesquisa.
        
        figure
            img(src="../img/robbyson/robbyson-sitemap.png" alt="Imagem do sitemap da nova arquitetura de informação" data-zoomable)
            figcaption Sitemap da nova arquitetura.

        figure
            img(src="../img/robbyson/robbyson-wireframe-home.png" alt="Imagem do wireframe da página inicial" data-zoomable)
            figcaption Wireframe aprovado para página inicial.

        figure.big-item
            img(src="../img/robbyson/robbyson-home.png" alt="Imagem do layout para página inicial" data-zoomable)
            figcaption Página inicial.

        figure.big-item
            img(src="../img/robbyson/robbyson-arvore.png" alt="Imagem do layout para página do gestor" data-zoomable)
            figcaption Página do gestor.

        figure.vertical-item
            img(src="../img/robbyson/robbyson-home-mobile.png" alt="Imagem do layout mobile para página inicial" data-zoomable)
            figcaption Página inicial mobile.

        figure.vertical-item
            img(src="../img/robbyson/robbyson-arvore-mobile.png" alt="Imagem do layout mobile para página do gestor" data-zoomable)
            figcaption Página do gestor mobile.

        figure.vertical-item
            img(src="../img/robbyson/robbyson-membros-mobile.png" alt="Imagem do layout mobile para aba de membros" data-zoomable)
            figcaption Aba de membros mobile.        

        video.big-item(src="../img/robbyson/robbyson-prototipo.mp4" controls title="Protótipo da árvore do gestor")
        

footer.next-work
    h4 PRÓXIMO TRABALHO
    a(href="/trabalhos/minuto") Uma experiência mobile ’segura’
    p MINUTO SEGUROS 
a.back-to-top.img-link(href="#")
    != partial("../_partials/back-to-top")


