main.grid 
    .content
        section.intro
            a.img-link(href="/")
                != partial("../_partials/logo-svg")
            h1.title-page Uma experiência de viagem redesenhada
            p.client #[strong SMILES] &nbsp;&nbsp;/&nbsp;&nbsp; #[span.year 2015 - 2017]
            .wrap-tags
                ul.tags
                        li ARQUITETURA DE INFORMAÇÃO
                        li DESIGN DE INTERAÇÃO
                        li VISUAL
                        li PESQUISA

        section.story
            h2.title-section MISSÃO
            p Melhorar fluxos de tarefas e design de informação de um dos maiores players de milhas do mercado.
        
            h2.title-section PROCESSO
            p Foram meses de melhorias iterativas, até chegarmos na nova proposta. Passamos pelo desenvolvimento de um novo styleguide e evolução de fluxos de busca e transacionais, redesenhando a estrutura de páginas principais como home, resultado de voos e checkout, aplicando testes de usabilidade e análise de dados para definirmos os melhores caminhos.
        
            h2.title-section APRENDIZADO
            p Trabalhar com sistemas legados, burocracia departamental e atender as exigências de todos stakeholders é algo delicado. Somado ao próprio desafio do mercado de milhas que ainda é obscuro e difícil de entender pelas pessoas. Moral da história: somos grandes políticos e precisamos evangelizar sempre o processo e o valor do design para atingir os objetivos de negócio.
        ul.team
            li.team-name
                h3 PARA
                a(href="http://www.saiba-mais.com/" target="_blank") Saiba+ 
            li.people
                h3 UX LEAD
                ul.people-list
                    li
                        a.img-link(href="https://www.linkedin.com/in/lulileslie/" target="_blank")
                            img(src="/img/pessoas/carolina-leslie.jpg" alt="Carolina Leslie")
                            span.tooltip Carolina Leslie
            li.people
                h3 UX/UI
                ul.people-list
                    li
                        a.img-link(href="https://www.linkedin.com/in/viccarvalho/" target="_blank")
                            img(src="/img/pessoas/victor-carvalho.jpg" alt="Victor Carvalho")
                            span.tooltip Victor Carvalho
                    li
                        a.img-link(href="https://www.linkedin.com/in/jrojass/" target="_blank")
                            img(src="/img/pessoas/jessica-rojas.jpg" alt="Jéssica Rojas")
                            span.tooltip Jessica Rojas
            
        .leia-mais  
            a(href="#" aria-hidden="true") LEIA MAIS   
                
    .mosaic
        figure.big-item
            img(src="../img/smiles/smiles-home-concept.png" alt="Imagem do layout conceito para página inicial do site da Smiles" data-zoomable)
            figcaption Conceito para home.
        
        figure.regular-item
            img(src="../img/smiles/smiles-resultado-busca.png" alt="Imagem do layout para o resultado de busca de voos" data-zoomable)
            figcaption Resultado de voos.
        
        figure.vertical-item
            img(src="../img/smiles/smiles-wireframe-adm-mobile.png" alt="Imagem do wireframe mobile da área administrativa do usuário" data-zoomable)
            figcaption Wireframe mobile da área administrativa.
        
        video.big-item(src="../img/smiles/smiles-prototipo-home.mp4" controls title="Protótipo do conceito para home")

        figure
            img(src="../img/smiles/smiles-wireframe-busca.png" alt="Imagem do wireframe do resultado de busca" data-zoomable)
            figcaption Wireframe conceito para o resultado de busca.

        figure
            img(src="../img/smiles/smiles-wireframe-adm.png" alt="Imagem do wireframe da área administrativa" data-zoomable)
            figcaption Wireframe para área administrativa do usuário.

        figure.regular-item
            img(src="../img/smiles/smiles-sitemap-adm.png" alt="Imagem do sitemap da área administrativa do usuário" data-zoomable)
            figcaption Sitemap da área administrativa.

        figure.vertical-item
            img(src="../img/smiles/smiles-home-concept-mobile.png" alt="Imagem do layout conceito mobile para página inicial do site da Smiles" data-zoomable)
            figcaption Conceito mobile para home.        

        video.big-item(src="../img/smiles/smiles-prototipo-resultado.mp4" controls title="Protótipo do resultado de busca")
        

footer.next-work
    h4 PRÓXIMO TRABALHO
    a(href="/trabalhos/robbyson") Gamificação para um trabalho melhor
    p ROBBYSON 
a.back-to-top.img-link(href="#")
    != partial("../_partials/back-to-top")


