.grid 
    .content
        section.intro
            != partial("../_partials/logo-svg")
            h1.title-page Renovando um sistema legado
            p SMILES  /  2015 - 2017
            ul.tags
                    li ARQUITETURA DE INFORMAÇÃO
                    li DESIGN DE INTERAÇÃO
                    li VISUAL
                    li PESQUISA
                    li DESIGN OPS
                    li ESTRATÉGIA
                    li WORKSHOPS
        section.mission
            h2.title-section MISSÃO
            p texto
        section.process
            h2.title-section PROCESSO
            p texto
        section.learn
            h2.title-section APRENDIZADO
            p texto
        ul.team
            li.team-name
                h3 PARA
                a(href="#") Age Technology
            li.people
                a(href="#" title="Nome")
                    img(src="" alt="Nome")
                a(href="#" title="Nome")
                    img(src="" alt="Nome")
            li.people
                a(href="#" title="Nome")
                        img(src="" alt="Nome")
    .mosaic
        img(src="../img/soc/edicao.png" alt="")
.next-work
    h4 PRÓXIMO TRABALHO
    a Gamificação para um trabalho melhor
    p ROBBYSON 
a.back-to-top(href="#" style={display: block})
    != partial("../_partials/back-to-top")