main.grid 
    .content
        section.intro
            a.img-link(href="/")
                != partial("../_partials/logo-svg")
            h1.title-page Renovando um sistema legado
            p.client #[strong SOC] &nbsp;&nbsp;/&nbsp;&nbsp; #[span.year 2019 - 2020]
            .wrap-tags
                ul.tags
                        li ARQUITETURA DE INFORMAÇÃO
                        li DESIGN DE INTERAÇÃO
                        li UI/VISUAL
                        li PESQUISA
                        li DESIGN OPS
                        li ESTRATÉGIA
                        li WORKSHOPS
        section.story
            h2.title-section MISSÃO
            p O SOC foi um dos produtos pioneiros em modelo SaaS no Brasil e hoje é líder no segmento de saúde e segurança do trabalho. Porém nesses 20 anos na web, o legado não evoluiu os padrões de interface e interação, possuindo vários gaps de usabilidade. Fui convocado para iniciar uma nova área de produto e design na empresa para modernizar o sistema.
        
            h2.title-section PROCESSO
            p Inicialmente fiz um diagnóstico geral para traçar o plano de ação junto a área de desenvolvimento. Analisei o sistema, entrevistei diretores, gerentes, usuários e equipes internas. Criei processos para inclusão de design e pesquisa nos projetos de features, organizei fluxos de tarefas e mapeei os principais módulos do sistema. Então foi alinhado e definido diretrizes, criando um dos projetos mais ambiciosos: o design system com o novos padrões de interface. Junto a uma equipe de desenvolvimento especializada foi categorizado todos os componentes do sistema, analisado os problemas e formado um inventário, onde foi totalmente redesenhado, dos componentes a fluxos de interação e navegação. Uma documentação completa foi feita para auxiliar as outras equipes de desenvolvedores a construírem as próximas features no novo padrão. Reuniões e workshops foram realizados com todos os times da empresa: desenvolvimento, comercial, relacionamento, gestão de conhecimento, suporte e consultores para explicar as mudanças e evangelizar o uso. O processo de mudança será a longo prazo devido o tamanho do sistema, mas o caminho de inovação foi traçado e já impacta positivamente milhares de usuários.
        
            h2.title-section APRENDIZADO
            p Pude aprender muito na prática de como estruturar um design system do zero e como mantê-lo e evoluí-lo. Não é um trabalho fácil, ainda mais quando se tem muitos outros projetos em paralelo. Alinhamentos constantes entre design e desenvolvimento é vital, não existindo design system se os dois lados não estiverem integrados.
        ul.team
            li.team-name
                h3 PARA
                a(href="https://ww2.soc.com.br/" target="_blank") Age Technology
            li.people
                h3 UX/UI
                ul.people-list
                    li
                        a.img-link(href="https://www.linkedin.com/in/viccarvalho/" target="_blank")
                            img(src="/img/pessoas/victor-carvalho.jpg" alt="Victor Carvalho")
                            span.tooltip Victor Carvalho
                    li
                        a.img-link(href="https://www.linkedin.com/in/aloysioribeiro/" target="_blank")
                            img(src="/img/pessoas/aloysio-ribeiro.jpg" alt="Aloysio Ribeiro")
                            span.tooltip Aloysio Ribeiro
            li.people  
                h3 DEV LEAD
                ul.people-list
                    li
                        a.img-link(href="https://www.linkedin.com/in/feliperanieri/" target="_blank")
                            img(src="/img/pessoas/felipe-ranieri.jpg" alt="Felipe Ranieri")
                            span.tooltip Felipe Ranieri
            
        .leia-mais  
            a(href="#" aria-hidden="true") LEIA MAIS   
                
    .mosaic
        figure.big-item
            img(src="../img/soc/soc-ds-core-figma.png" alt="Imagem dos objetos do design system organizados no software Figma" data-zoomable)
            figcaption Organização core dos objetos do design system no Figma.
        
        figure.regular-item
            img(src="../img/soc/soc-ds-blocos-figma.png" alt="Imagem dos blocos do design system organizados no software Figma" data-zoomable)
            figcaption Organização dos blocos do design system no Figma.
        
        figure
            img(src="../img/soc/soc-confluence-intro.png" alt="Imagem da introdução da documentação no serviço Confluence" data-zoomable)
            figcaption Documentação no Confluence
        
        figure
            img(src="../img/soc/soc-confluence-botoes.png" alt="Imagem da documentação dos botões no serviço Confluence" data-zoomable)
            figcaption Documentação no Confluence
        
        video.big-item(src="../img/soc/soc-ds-codigo-soc.mp4" controls title="Componentes interativos codados")

        figure
            img(src="../img/soc/soc-lista-legado.png" alt="Imagem do padrão de tela do legado para listagem" data-zoomable)
            figcaption Listagem de itens no legado.

        figure.regular-item
            img(src="../img/soc/soc-lista.png" alt="Imagem do novo padrão de tela para listagem" data-zoomable)
            figcaption Redesign da listagem seguindo os novos padrões.

        figure
            img(src="../img/soc/soc-edicao-legado.png" alt="Imagem do padrão de tela do legado para edição" data-zoomable)
            figcaption Edição no legado.

        figure.big-item
            img(src="../img/soc/soc-edicao.png" alt="Imagem do novo padrão de tela para edição" data-zoomable)
            figcaption Redesign da edição seguindo os novos padrões.

        video.big-item(src="../img/soc/soc-novo-menu.mp4" controls title="Protótipo do redesign do header e menu")

        
        
        

        

footer.next-work
    h4 PRÓXIMO TRABALHO
    a(href="/trabalhos/smiles") Uma experiência de viagem redesenhada
    p SMILES 
a.back-to-top.img-link(href="#")
    != partial("../_partials/back-to-top")


