.grid 
    .content
        section.intro
            a.img-link(href="/")
                != partial("../_partials/logo-svg")
            h1.title-page Renovando um sistema legado
            p.client #[strong SOC] &nbsp;&nbsp;/&nbsp;&nbsp; #[span.year 2015 - 2017]
            .wrap-tags
                ul.tags
                        li ARQUITETURA DE INFORMAÇÃO
                        li DESIGN DE INTERAÇÃO
                        li VISUAL
                        li PESQUISA
                        li DESIGN OPS
                        li ESTRATÉGIA
                        li WORKSHOPS
        section.story
            h2.title-section MISSÃO
            p O SOC foi um dos produtos pioneiros em modelos SaaS no Brasil e é líder no ramo de saúde ocupacional. Porém nesses 20 anos na web, o legado não evoluiu os padrões de interface e interação, tendo vários gaps de usabilidade. Fui convocado para iniciar uma nova área de produto e design na empresa para modernizar o sistema.
        
            h2.title-section PROCESSO
            p Inicialmente fiz um diagnóstico geral para traçar o plano de ação junto a área de desenvolvimento. Analisei o sistema, entrevistei diretores, gerentes, usuários e equipes internas. Criei processos de inclusão de design e pesquisa nos projetos de features, organizei fluxos de tarefas e mapeei os principais módulos do sistema. Então foi definido diretrizes e criado o projeto de Design System, onde junto a uma equipe de desenvolvimento especializada foi categorizado todos os componentes do sistemas, analisado os problemas e formado um inventário, onde foi totalmente redesenhado, desde UI à fluxos de interação. Uma documentação completa foi feita para auxiliar as outras equipes de desenvolvedores a construírem no novo padrão. Assim como foi realizado reuniões e workshops com todos os times da empresa: desenvolvimento, comercial, relacionamento, gestão de conhecimento, suporte e consultores para explicar as mudanças e evangelizar o uso.
        
            h2.title-section APRENDIZADO
            p Pude aprender muito na prática de como estruturar um Design System do zero e como mantê-lo e evolui-lo. Não é um trabalho fácil, ainda mais quando se tem muitos outros projetos em paralelo. Alinhamentos constantes entre design e desenvolvimento é vital, sendo que não existe design system se os dois lados da balança não estiverem equilibrados.
        ul.team
            li.team-name
                h3 PARA
                a(href="#") Age Technology
            li.people
                h3 UX/UI/PESQUISA
                ul.people-list
                    li
                        a.img-link(href="https://www.linkedin.com/in/viccarvalho/")
                            img(src="/img/pessoas/victor-carvalho.jpg" alt="Victor Carvalho")
                            span.tooltip Victor Carvalho
                    li
                        a.img-link(href="https://www.linkedin.com/in/aloysioribeiro/")
                            img(src="/img/pessoas/aloysio-ribeiro.jpg" alt="Aloysio Ribeiro")
                            span.tooltip Aloysio Ribeiro
        .leia-mais  
            a(href="#") LEIA MAIS   
                
    .mosaic
        figure.big-item
            img(src="../img/soc/soc-ds-core-figma.png" alt="Imagem dos objetos do design system organizados no software Figma" data-zoomable)
            figcaption Organização core dos objetos do design system no Figma.
        
        figure.regular-item
            img(src="../img/soc/soc-ds-blocos-figma.png" alt="Imagem dos blocos do design system organizados no software Figma" data-zoomable)
            figcaption Organização dos blocos do design system no Figma.
        
        figure
            img(src="../img/soc/soc-confluence-intro.png" alt="Imagem da introdução da documentação no serviço Confluence" data-zoomable)
            figcaption Documentação no Confluence
        
        figure
            img(src="../img/soc/soc-confluence-botoes.png" alt="Imagem da documentação dos botões no serviço Confluence" data-zoomable)
            figcaption Documentação no Confluence
        
        video.big-item(src="../img/soc/soc-ds-codigo-soc.mp4" controls)

        figure
            img(src="../img/soc/soc-lista-legado.png" alt="Imagem do padrão de tela do legado para listagem" data-zoomable)
            figcaption Listagem de itens no legado.

        figure.regular-item
            img(src="../img/soc/soc-lista.png" alt="Imagem do novo padrão de tela para listagem" data-zoomable)
            figcaption Redesign da listagem seguindo os novos padrões.

        figure
            img(src="../img/soc/soc-edicao-legado.png" alt="Imagem do padrão de tela do legado para edição" data-zoomable)
            figcaption Edição no legado.

        figure.big-item
            img(src="../img/soc/soc-edicao.png" alt="Imagem do novo padrão de tela para edição" data-zoomable)
            figcaption Redesign da edição seguindo os novos padrões.

        video.big-item(src="../img/soc/soc-novo-menu.mp4" controls)

        
        
        

        

.next-work
    h4 PRÓXIMO TRABALHO
    a(href="#") Gamificação para um trabalho melhor
    p ROBBYSON 
a.back-to-top.img-link(href="#")
    != partial("../_partials/back-to-top")


