.intro
    a.img-link(href="/")
        != partial("../../_partials/logo-svg")
    h1 Mais trabalhos
    p Trabalhei em uma centena de projetos para startups, consultorias, agências e companhias de vários segmentos e tamanhos. Estes são alguns destaques.

.grid
    .content.grid-item
        h2 Huggies #[span &nbsp / &nbsp 2018 ]
        .wrap-tags
                ul.tags
                        li ARQUITETURA DE INFORMAÇÃO
                        li DESIGN DE INTERAÇÃO
                        li VISUAL
        p Projetei um novo produto para mães e pais de primeira viagem. Havia muita confusão sobre o objetivo e foi necessário conscientizar os stakeholders com uma visão estratégica de UX, pois estavam muito mais preocupados com a ação de marketing em si, inflando o produto sem propósito e não trazendo valor para seus clientes.
    .logo-client.grid-item
        img(src="../../img/mais-trabalhos/huggies.png", alt="")


    .logo-client.grid-item
        img(src="../../img/mais-trabalhos/huggies.png", alt="")
    .content.grid-item
        h2 Huggies #[span &nbsp / &nbsp 2018 ]
        .wrap-tags
                ul.tags
                        li ARQUITETURA DE INFORMAÇÃO
                        li DESIGN DE INTERAÇÃO
                        li VISUAL
        p Projetei um novo produto para mães e pais de primeira viagem. Havia muita confusão sobre o objetivo e foi necessário conscientizar os stakeholders com uma visão estratégica de UX, pois estavam muito mais preocupados com a ação de marketing em si, inflando o produto sem propósito e não trazendo valor para seus clientes.

    

    .content.grid-item
        h2 Huggies #[span &nbsp / &nbsp 2018 ]
        .wrap-tags
                ul.tags
                        li ARQUITETURA DE INFORMAÇÃO
                        li DESIGN DE INTERAÇÃO
                        li VISUAL
        p Projetei um novo produto para mães e pais de primeira viagem. Havia muita confusão sobre o objetivo e foi necessário conscientizar os stakeholders com uma visão estratégica de UX, pois estavam muito mais preocupados com a ação de marketing em si, inflando o produto sem propósito e não trazendo valor para seus clientes.
    .logo-client.grid-item
        img(src="../../img/mais-trabalhos/huggies.png", alt="")


    .logo-client.grid-item
        img(src="../../img/mais-trabalhos/huggies.png", alt="")
    .content.grid-item
        h2 Huggies #[span &nbsp / &nbsp 2018 ]
        .wrap-tags
                ul.tags
                        li ARQUITETURA DE INFORMAÇÃO
                        li DESIGN DE INTERAÇÃO
                        li VISUAL
        p Projetei um novo produto para mães e pais de primeira viagem. Havia muita confusão sobre o objetivo e foi necessário conscientizar os stakeholders com uma visão estratégica de UX, pois estavam muito mais preocupados com a ação de marketing em si, inflando o produto sem propósito e não trazendo valor para seus clientes.


    .content.grid-item
        h2 Huggies #[span &nbsp / &nbsp 2018 ]
        .wrap-tags
                ul.tags
                        li ARQUITETURA DE INFORMAÇÃO
                        li DESIGN DE INTERAÇÃO
                        li VISUAL
        p Projetei um novo produto para mães e pais de primeira viagem. Havia muita confusão sobre o objetivo e foi necessário conscientizar os stakeholders com uma visão estratégica de UX, pois estavam muito mais preocupados com a ação de marketing em si, inflando o produto sem propósito e não trazendo valor para seus clientes.
    .logo-client.grid-item
        img(src="../../img/mais-trabalhos/huggies.png", alt="")


    .logo-client.grid-item
        img(src="../../img/mais-trabalhos/huggies.png", alt="")
    .content.grid-item
        h2 Huggies #[span &nbsp / &nbsp 2018 ]
        .wrap-tags
                ul.tags
                        li ARQUITETURA DE INFORMAÇÃO
                        li DESIGN DE INTERAÇÃO
                        li VISUAL
        p Projetei um novo produto para mães e pais de primeira viagem. Havia muita confusão sobre o objetivo e foi necessário conscientizar os stakeholders com uma visão estratégica de UX, pois estavam muito mais preocupados com a ação de marketing em si, inflando o produto sem propósito e não trazendo valor para seus clientes.


    .content.grid-item
        h2 Huggies #[span &nbsp / &nbsp 2018 ]
        .wrap-tags
                ul.tags
                        li ARQUITETURA DE INFORMAÇÃO
                        li DESIGN DE INTERAÇÃO
                        li VISUAL
        p Projetei um novo produto para mães e pais de primeira viagem. Havia muita confusão sobre o objetivo e foi necessário conscientizar os stakeholders com uma visão estratégica de UX, pois estavam muito mais preocupados com a ação de marketing em si, inflando o produto sem propósito e não trazendo valor para seus clientes.
    .logo-client.grid-item
        img(src="../../img/mais-trabalhos/huggies.png", alt="")

    .logo-client.grid-item
        img(src="../../img/mais-trabalhos/huggies.png", alt="")
    .content.grid-item
        h2 Huggies #[span &nbsp / &nbsp 2018 ]
        .wrap-tags
                ul.tags
                        li ARQUITETURA DE INFORMAÇÃO
                        li DESIGN DE INTERAÇÃO
                        li VISUAL
        p Projetei um novo produto para mães e pais de primeira viagem. Havia muita confusão sobre o objetivo e foi necessário conscientizar os stakeholders com uma visão estratégica de UX, pois estavam muito mais preocupados com a ação de marketing em si, inflando o produto sem propósito e não trazendo valor para seus clientes.

    
    .content.grid-item
        h2 Huggies #[span &nbsp / &nbsp 2018 ]
        .wrap-tags
                ul.tags
                        li ARQUITETURA DE INFORMAÇÃO
                        li DESIGN DE INTERAÇÃO
                        li VISUAL
        p Projetei um novo produto para mães e pais de primeira viagem. Havia muita confusão sobre o objetivo e foi necessário conscientizar os stakeholders com uma visão estratégica de UX, pois estavam muito mais preocupados com a ação de marketing em si, inflando o produto sem propósito e não trazendo valor para seus clientes.
    .logo-client.grid-item
        img(src="../../img/mais-trabalhos/huggies.png", alt="")


    .logo-client.grid-item
        img(src="../../img/mais-trabalhos/huggies.png", alt="")
    .content.grid-item
        h2 Huggies #[span &nbsp / &nbsp 2018 ]
        .wrap-tags
                ul.tags
                        li ARQUITETURA DE INFORMAÇÃO
                        li DESIGN DE INTERAÇÃO
                        li VISUAL
        p Projetei um novo produto para mães e pais de primeira viagem. Havia muita confusão sobre o objetivo e foi necessário conscientizar os stakeholders com uma visão estratégica de UX, pois estavam muito mais preocupados com a ação de marketing em si, inflando o produto sem propósito e não trazendo valor para seus clientes.


a.back-to-top.img-link(href="#")
    != partial("../../_partials/back-to-top")



