// global.less

html { 
    font-size: 62.5%;
    scroll-behavior: smooth;
} 

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;/* =24px */
    text-align: left;
    padding: 0;
    background: #fff;
    color: #444;
    margin: 0;
  }
  
::selection {
    background-color: #FAFFBE;
}
  
a {
    position: relative;
    font-style: normal;
    font-weight: bold;
    font-size: inherit;
    color: #444;
    text-decoration: none;
    box-shadow: 0px -12px 0px #FAFFBE inset;
    transition: box-shadow .2s;
}
  
a:hover {
    box-shadow: 0px -28px 0px #FAFFBE inset;
    transition: box-shadow .2s;
}

.img-link,
.img-link:hover {
    box-shadow: none;
}

.tags {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    flex-wrap: wrap;
  
    padding: 0;
    margin: 0;
    list-style: none;
}

.tags li {
    padding: 0.6rem 1.2rem;
    white-space: nowrap;
    font-size: 1.0rem;
    color: #7E7E7E;

    border: 1px solid #C9C9C9;
    border-radius: 2.4rem;
}

.back-to-top {
    display: block;
    width: 3.2rem;
    height: 4.0rem;
    padding: 2.4rem;
    margin: 10.0rem auto;

    transition: transform 1s;

    svg {
        display: block;
        width: 3.0rem;
        height: 4.0rem;
        margin: 0 auto;

    }
}

.back-to-top:hover {
    transform: translateY(-1.6rem);
    transition: transform 1s;

}

.leia-mais { display: none; }


.logo {
    width: 5.6rem;
    height: 5.6rem;
}



@media (max-width: 425px) {
    html { font-size: 50%; } 
}


@media (min-width: 2560px) {
    html { font-size: 110%; } 
}  