// global.less

html { 
    font-size: 62.5%;
    scroll-behavior: smooth;
} 

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;/* =24px */
    text-align: left;
    padding: 0;
    background: #fff;
    color: #444;
    margin: 0;
  }
  
::selection {
    background-color: #FAFFBE;
}
  
a {
    position: relative;
    font-style: normal;
    font-weight: bold;
    font-size: inherit;
    color: #444;
    text-decoration: none;
    box-shadow: 0px -1.2rem 0px #FAFFBE inset;
    transition: box-shadow .2s;
}
  
a:hover {
    box-shadow: 0px -2.8rem 0px #FAFFBE inset;
    transition: box-shadow .2s;
}

.img-link,
.img-link:hover {
    box-shadow: none;
}

.tags {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    flex-wrap: wrap;
  
    padding: 0;
    margin: 0;
    list-style: none;
}

.tags li {
    padding: 0.6rem 1.2rem;
    white-space: nowrap;
    font-size: 1.0rem;
    color: #7E7E7E;

    border: 1px solid #C9C9C9;
    border-radius: 2.4rem;
}



.back-to-top {
    display: block;
    width: 3.2rem;
    height: 4.0rem;
    padding: 2.4rem;
    margin: 10.0rem auto;

    transition: transform 1s;

    svg {
        display: block;
        width: 3.0rem;
        height: 4.0rem;
        margin: 0 auto;

    }
}

.back-to-top:hover {
    transform: translateY(-1.6rem);
    transition: transform 1s;

}

.leia-mais { display: none; }


.logo {
    width: 5.6rem;
    height: 5.6rem;
}

video {
    width: 100%;
    height: auto;
}


.video-container {
    position: relative;
    padding-bottom: 56.25%; /*16:9*/
    padding-top: 30px; 
    height: 0; 
    overflow: hidden;

    box-shadow: 0px 4px 20px rgba(0,0,0,.1);
    border-radius: 4px;
}
   
  .video-container iframe,
  .video-container object,
  .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}




@media (max-width: 600px) {
    .tags {
        display: flex;
        
        padding-bottom: 1.6rem;
        
        flex-direction: row;
        flex-wrap: nowrap;

        overflow: scroll;
        
    }

    //hack margin direita do último item da lista. 
    .tags::after {
        content: " ";
        display: block;
        width: 2.4rem;
        padding-left: 1.0rem;

    }

    .wrap-tags {
        position: relative;
        padding-right: 2.4rem;
    }

    .wrap-tags::before {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 100%;
        background-image: linear-gradient(270deg, #fff 5%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0) 100%);
    }



    .leia-mais {
        display: block;
        position: absolute;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        
        bottom: 3.2rem;
        left: 0;
        
        z-index: 1;
    }
}

@media (min-width: 2560px) {
    html { font-size: 110%; } 
}  