.page-portfolio {

    .grid {
        display: grid;
        
        justify-items: start;
        align-items: start;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
    }

    .content {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
    
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 6.4rem;

        padding: 6.4rem;
    }

    .logo {
        width: 6.4rem;
        height: 6.4rem;
    }

    .mosaic {
        grid-column-start: 3;
        grid-column-end: 6;

        place-self: stretch;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(auto-fill, minmax(98px, 1fr));
        grid-gap: 4.0rem;
        grid-auto-flow: dense;
        place-items: center;

        padding: 6.4rem 6.4rem 12.8rem 6.4rem;

        background: linear-gradient(180deg, #F4EFEC 85%, rgba(244, 239, 236, 0) 100%);

        figure {
            position: relative;
            margin: 0;
            height: auto;
            transition: transform .3s;
            
        }

        figcaption {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;

            box-sizing: border-box;

            opacity: 0;
            padding: 3.2rem 1.6rem 2.4rem 1.6rem;
            
            font-size: 1.4rem;
            text-align: center;
            background: rgb(0,0,0);
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 90%);
            border-radius: 0 0 4px 4px;
            color: #fff;
            transition: opacity .2s;

            text-shadow: 0 1px 1px  rgba(0, 0, 0, 0.2);

            pointer-events: none;
        }

        figure:hover figcaption {
            opacity: 1;
            transition: opacity .2s;
        }

        figure:hover,
        video:hover {
            transform: scale(1.1);
            transition: transform .3s;
        }

        img,
        video {
            max-width: 100%;
            border-radius: 4px;
            box-shadow: 0px 4px 20px rgba(0,0,0,.1);

            transition: transform .3s, box-shadow .3s;
        }

        img:hover,
        video:hover {
            box-shadow: 0px 4px 30px rgba(0,0,0,.2);
            transition: transform .3s, box-shadow .3s;
        }

        .big-item {
            grid-column-end: span 3;
            grid-row-end: span 3;
        }

        .regular-item {
    
            grid-column-end: span 2;

            grid-row-end: span 2;
        }
        
        .vertical-item {
    
            grid-column-end: span 1;

            grid-row-end: span 3;
        }

        .box-iframe {
            max-width: 100%;
            height: 50vh;
            place-self: stretch;
            
        }

        
    }

    .title-page {
        font-size: 3.2rem;
        margin: 4.8rem 0 2.4rem 0;
    }

    .client {
        font-size: 1.8rem;
        color: #999999;
        margin: 0 0 2.4rem 0;
    }

    .year {
        font-size: 1.6rem;
    }

    .title-section {
        font-weight: normal;
        font-size: 1.8rem;
        color: #D0D0D0;
    }

    .story p {
        font-size: 1.8rem;
        line-height: 3.0rem;
        margin-bottom: 4.8rem;
    }

    .team,
    .people-list {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        margin: 0;
        padding: 0;
        list-style: none;
    }

    .team {
        gap: 4.8rem;
        padding-top: 3.2rem;
        border-top: 1px solid #EBEBEB;
    }

    .team h3 {
        font-size: 1.2rem;
        font-weight: normal;
        color: #777;
    }

    .team-name a {
        display: inline-block;
        margin-top: 1.6rem;

        font-size: 1.6rem;
        color: #777;
        box-shadow: none;
        
    }

    .people-list {
        margin-top: 1.6rem;
    }

    

    .people-list li:not(:first-child){
        margin-left: -0.8rem;
    }

    .people-list a {
        position: relative;
    }

    .people-list a:hover .tooltip,
    .people-list a:focus .tooltip { display: block; }


    .people-list img {
        width: 4.8rem;
        height: 4.8rem;
        border-radius: 50%;
        border: 1px solid #fff;
    }

    .next-work {
        max-width: 50.0rem;
        padding: 0 2.4rem;
        margin: 12.8rem auto 0 auto;
        text-align: center;

        h4 {
            font-weight: normal;
            font-size: 1.6rem;
            color: rgba(0, 0, 0, 0.4);
        }

        a {
            font-size: 3.2rem;
            line-height: 4.0rem;
        }

        p {font-size: 2.4rem;}
    }


}

@media (max-width: 1260px) {
    .page-portfolio {
        .mosaic {
            
            grid-template-columns: repeat(2, 1fr);

            .big-item {

                grid-column-end: span 2;

            }
    
            .regular-item {

                grid-column-end: span 2;
            }
            
            .vertical-item {

                grid-column-end: span 1;
            }
        }
    }
}

@media (max-width: 980px) {
    .page-portfolio {
        .grid { 
            display: block;    
        }

        .mosaic {
            
            grid-template-columns: repeat(3, 1fr);

            .big-item {

                grid-column-end: span 3;

            }
    
            .regular-item {

                grid-column-end: span 2;
            }
            
            .vertical-item {

                grid-column-end: span 1;
            }
        }
    }
}


@media (max-width: 600px) {
    .page-portfolio {
        .content {
            position: relative;
            max-width: 100%;
            padding: 3.2rem 3.2rem 6.4rem 3.2rem;

            gap: 3.2rem;

            height: 50.0rem;
            overflow: hidden;

            
        }

        .content::after {
            position: absolute;
            bottom: 0;
            left: 0;
            content: " ";
            display: block;
            width: 100%;
            height: 20.0rem;
            background-image: linear-gradient(0deg, #fff 20%, rgba(255, 255, 255, 0.4) 80%, rgba(255, 255, 255, 0) 100%);
        }

        .open {
            height: auto;

            .leia-mais {
                display: none;
            }

            ::after {
                display: none;
            }
        }

        .mosaic { 
            display: flex;
            flex-direction: column;
            gap: 3.2rem;
            max-width: 100%;
            padding: 4.8rem 3.2rem;

            figcaption {
                display: none;
            }
            
        }
    }
    .medium-zoom-overlay,
    .medium-zoom-image--opened {
        z-index: 2;
    }
}


