main.grid 
    .content
        section.intro
            a.img-link(href="/")
                != partial("../_partials/logo-svg")
            h1.title-page Estudando game design com boardgames
            
        section.story
            p Sou um grande entusiasta dos games, e tenho uma paixão específica por boardgames, principalmente na construção deles. Desde criança crio meus joguinhos de tabuleiro para brincar com meu irmão e amigos, acabando por virar um hobbie. Aplico estudos em protótipos de jogos para testar com amigos e evoluir meus conhecimentos em game design, mas principalmente para me divertir.
        
        .leia-mais  
            a(href="#" aria-hidden="true") LEIA MAIS   
                
    .mosaic
        figure.big-item
            img(src="../img/boardgames/bg-foto.jpg" alt="Foto do protótipo do jogo Sailor Rush" data-zoomable)
            figcaption Jogo Sailor Rush em uma sessão de playteste.
        
        figure
            img(src="../img/boardgames/bg-rabiscoframe.jpg" alt="Foto do rabiscoframe de uma das versões do tabuleiro do jogo Sailor Rush" data-zoomable)
            figcaption Rabiscoframe do tabuleiro Sailor Rush.
        
        figure
            img(src="../img/boardgames/bg-prototipo.png" alt="Wireframe de uma das versões do tabuleiro do jogo Sailor Rush" data-zoomable)
            figcaption Wireframe do tabuleiro Sailor Rush.
        
        figure
            img(src="../img/boardgames/bg-componentes.png" alt="Protótipo das peças do jogo Sailor Rush" data-zoomable)
            figcaption Peças para o protótipo do jogo Sailor Rush.

footer.next-work
    h4 PRÓXIMO PROJETO
    a(href="/projetos/matrioska") Matrioska: uma proposta para design systems

a.back-to-top.img-link(href="#")
    != partial("../_partials/back-to-top")


