main.grid 
    .content
        section.intro
            a.img-link(href="/")
                != partial("../_partials/logo-svg")
            h1.title-page Matrioska: uma proposta para design systems
            
        section.story

            p Nos últimos anos comecei a estruturar um processo para me auxiliar na construção de interfaces, documentação e entregas. Por fim acabou se transformando em um framework para projetar e manter design systems. Ele estende alguns conceitos como atomic design e a modularização sistêmica. No momento estou escrevendo toda a documentação para liberar para comunidade. Porém é possível entender um pouco o conceito com a apresentação que fiz no ILA 2018 (Interaction Latin América).

            a(href="#") Link projeto
        
        .leia-mais  
            a(href="#" aria-hidden="true") LEIA MAIS   
                
    .mosaic
        figure.big-item
            img(src="../img/matrioska/matrioska-slide-source.png" data-zoomable)
            figcaption Descritivo da tela com infos da imagem
        
        

footer.next-work
    h4 PRÓXIMO PROJETO
    a(href="#") Panorama UX e nosso mercado

a.back-to-top.img-link(href="#")
    != partial("../_partials/back-to-top")


