.grid 
    .content
        section.intro
            a.img-link(href="/")
                != partial("../_partials/logo-svg")
            h1.title-page Matrioska: uma proposta para design systems
            
        section.story

            p Nos últimos anos comecei a estruturar um processo para me auxiliar na construção de interfaces, documentação e entregas. Por fim acabou se transformando em um framework para projetar e manter design systems. Ele estende alguns conceitos como atomic design e a modularização sistêmica. No momento estou escrevendo toda a documentação para liberar para comunidade. Porém é possível entender um pouco o conceito com a apresentação que fiz no ILA 2018 (Interaction Latin América).

            a(href="#") Link projeto
        
        .leia-mais  
            a(href="#") LEIA MAIS   
                
    .mosaic
        figure.big-item
            img(src="../img/soc/edicao.png" data-zoomable)
            figcaption Descritivo da tela com infos da imagem
        
        figure
            img(src="../img/smiles/home-concept-mobile.png" alt="" data-zoomable)
            figcaption Descritivo da tela com infos da imagem

        figure
            img(src="../img/smiles/home-concept-mobile.png" alt="" data-zoomable)
            figcaption Descritivo da tela com infos da imagem
        
        figure
            img(src="../img/smiles/home-concept-mobile.png" alt="" data-zoomable)
            figcaption Descritivo da tela com infos da imagem
        
        figure.regular-item
            img(src="../img/soc/edicao.png" alt="" data-zoomable)
            figcaption Descritivo da tela com infos da imagem

        figure
            img(src="../img/soc/edicao.png" alt="" data-zoomable)
            figcaption Descritivo da tela com infos da imagem
        
        figure
            img(src="../img/soc/edicao.png" alt="" data-zoomable)
            figcaption Descritivo da tela com infos da imagem

        figure
            img(src="../img/smiles/home-concept-mobile.png" alt="" data-zoomable)
            figcaption Descritivo da tela com infos da imagem
        
        figure
            img(src="../img/smiles/home-concept-mobile.png" alt="" data-zoomable)
            figcaption Descritivo da tela com infos da imagem
        
        .big-item.video
            .video-container
                iframe(width="560" height="315" src="https://www.youtube.com/embed/JvGSN1HU4e8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

.next-work
    h4 PRÓXIMO PROJETO
    a(href="#") Panorama UX e nosso mercado

a.back-to-top.img-link(href="#")
    != partial("../_partials/back-to-top")


