main.grid 
    .content
        section.intro
            a.img-link(href="/")
                != partial("../_partials/logo-svg")
            h1.title-page Matrioska: uma proposta para design systems
            
        section.story

            p Nos últimos anos comecei a estruturar um processo para me auxiliar na construção, documentação e entrega de interfaces. Por fim acabou se transformando em um framework para projetar e manter design systems. Ele estende alguns conceitos como atomic design e a modularização sistêmica. No momento estou escrevendo toda a documentação para liberar para comunidade em #[a(href="http://www.matrioska.design/" target="_blank") matrioska.design]. Porém é possível entender um pouco sobre o conceito na #[a(href="#apresentacao") apresentação] que fiz no Interaction Latin América 2018.

      
        
        .leia-mais  
            a(href="#" aria-hidden="true") LEIA MAIS   
                
    .mosaic
        figure.big-item
            img(src="../img/matrioska/matrioska-slide-source.png" alt="Slide da apresentação: The single source of truth" data-zoomable)
            figcaption Slide da apresentação para o ILA 2018.
        
        figure
            img(src="../img/matrioska/matrioska-slide-beneficios.png" alt="Slide da apresentação: Benfícios de um design system" data-zoomable)
            figcaption Slide da apresentação para o ILA 2018.
        
        figure
            img(src="../img/matrioska/matrioska-slide-space.png" alt="Slide da apresentação: Meta" data-zoomable)
            figcaption Slide da apresentação para o ILA 2018.
        
        figure
            img(src="../img/matrioska/matrioska-slide-identificacao.png" alt="Slide da apresentação: Identificação do objeto" data-zoomable)
            figcaption Slide da apresentação para o ILA 2018.

        figure.big-item
            img(src="../img/matrioska/matrioska-wireframe.png" alt="Imagem do wireframe para o site da documentação do Matrioska" data-zoomable)
            figcaption Wireframe para o site da documentação.

        figure.big-item
            img(src="../img/matrioska/matrioska-notion.png" alt="Print da tela no serviço notion.so com parte da documentação do Matrioska" data-zoomable)
            figcaption Documentação sendo desenvolvida no Notion.
        
        
        .iframe-container.big-item#apresentacao    
            iframe(src="//www.slideshare.net/slideshow/embed_code/key/uuf2XWJ3R0ME9d" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" title="Apresentação realizada no ILA 2018" allowfullscreen)

        figure.big-item
            img(src="../img/matrioska/matrioska-slide-quote.png" alt="Slide da apresentação: 'A design system isn't a Project. It's a Product, serving Products.' - Nathan Curtis" data-zoomable)
            figcaption Slide da apresentação para o ILA 2018.
        
        

footer.next-work
    h4 PRÓXIMO PROJETO
    a(href="/projetos/panorama-ux") Panorama UX e nosso mercado

a.back-to-top.img-link(href="#")
    != partial("../_partials/back-to-top")


