.grid
    .content
        h1.iam Olá! Eu sou #[br] #[span.name Victor Carvalho,] #[br]um #[span.highlight designer] buscando tornar coisas mais fáceis.
        section.works
            h2.title-section DESTAQUES
            ul.list
                li
                    a(href="/trabalhos/soc") Renovando um sistema legado 
                    p SOC
                li 
                    a(href="#") Uma experiência de viagem redesenhada 
                    p SMILES
                li 
                    a(href="#") Gamificação para um trabalho melhor 
                    p ROBBYSON
                li 
                    a(href="#") Uma experiência mobile ’segura’ 
                    p MINUTO SEGUROS
                li: a.more(href="/trabalhos/mais-trabalhos") Mais trabalhos...
        section.projects
            h2.title-section PROJETOS & EXPERIMENTOS
            ul.list
                li: a(href="/projetos/matrioska") Matrioska: uma proposta para design systems
                li: a(href="#") Panorama UX e nosso mercado
                li: a(href="#") Estudando game design com boardgames
        section.about
            h2.title-section SOBRE ESSE CARA
            p Comecei minha carreira há 10 anos atrás como web designer. Desde lá eu tive mais e mais interesse em estudar as camadas profundas de uma interface, e todo o processo para projetá-la.
            p Hoje trabalho em projetos de ponta a ponta para startups e grandes companhias, participando da estratégia à produção, mesclando habilidades em arquitetura de informação, design de interação, produto e desenvolvimento.
            p Mais informações? Veja meu #[a(href="#") Curriculum Vitae].
            p Você pode me achar no #[a(href="#") Linkedin], #[a(href="#") Twitter] e #[a(href="#") Medium] ou escrever para #[a(href="#") hello@victorcarvalho.com].
            != partial("_partials/logo-svg")
    .profile


